{% extends 'main/layout.html' %}

{% block content  %}
    <h1 class="contacts">Контактная информация</h1>
    <h3 class="contacts-2">Тут реализован примерный план по контактам с переходом на сайты</h3>

<div class="all-contacts">
        <ul>
            <a href="https://youtube.com" class="btn btn-danger me-5"><li>Our Youtube channel</li></a>
            <a href="https://facebook.com" class="btn btn-primary me-5"><li>Our Facebook</li></a>
            <a href="https://linkedin.com/in/mykyta-misiurenko-a653b6348" class="btn btn-info"><li>My LinkedIn</li></a>
        </ul>

</div>

{% endblock %}